/*HomeIndex*/

.frontPageSplash {
    background-image: url("/images/theme/front-splash.png");
    background-repeat: no-repeat;
    background-position: right;
}

.frontPageLearn {
    font-family: 'Roboto';
    padding: 12px 0 0 32px;
    height: 430px;
}

.frontPageHeading {
    font-size: 3.3em;
    margin: 16px 0;
}

.frontPageSubHeading {
    font-size: 2em;
}

.frontPageTopContainer {
    padding: 40px 80px 42px 40px;
    border: 1px solid #999;
    background-color: #2569D5;
    font-family: 'Roboto';
}

.frontPageContent {
    background-color: rgba(255,255,255,0.9);
    padding: 16px;
}