/*Post Page*/

.postTitle {
    font-family: 'Roboto';
    font-weight: bold;
}

.postSubTitle {
    color: #888;
    font-family: 'Robot Mono';
    font-size: 0.8em;
}

.postData {
    display: inline-block;
}

.postDate {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.postLogo {
    display: inline-block;
    border-radius: 3px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #DDD;
    background-size: 100%;
}

.postAuthorImage {
    height: 80px;
    width: 80px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.postAuhtorContainer {
    padding: 12px;
    color: #444;
    font-family: 'Roboto';
    width: 25%;
}

.postIndexTitle {
    font-size: 1.4em;
}

.postContentContainer {
    width: 75%;
    font-family: 'Roboto';
    color: #222;
    padding: 22px;
    border-left: 1px solid #DDD;
}

.postAuthorRating {
    font-size: 0.9em;
    color: #159;
    font-family: 'Roboto Mono';
}

#postIndexContent {
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
}

.postHeader {
    background-color: #212121;
    padding: 8px 0px 24px 24px;
}

#replyDivider {
    height: 2px;
    margin-bottom: 12px;
}

#headingBtn {
    float: right;
    margin-right: 20px;
}

.postHeading {
    color: white;
    font-size: 1.3em;
    font-family: 'Roboto';
    padding: 16px 0 16px 0;
    width: 100%;
}