/*Replies*/

.replyContent {
    background-color: #fff;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

#postReplyRow {
    background-color: #3F51B5;
    padding: 8px;
}

.replyContentContainer, .replyAuthorContainer {
    padding: 12px;
}

.isAdmin {
    display: inline-block;
    padding: 3px;
    background-color: #FFEB3B;
    color: #000;
    font-family: 'Roboto Mono';
}

.smaller {
    font-size: 0.8em;
}

.originalPost {
    background-color: #FFF;
    padding: 12px;
    margin-bottom: 8px;
    text-align: center;
    width: 100%;
}

.hasRecentPost {
    padding: 2px;
    background-color: #fe552f;
    color: #FFF;
    text-align: center;
    border-radius: 1px;
    width: 30px;
}
